
<div class=movieInfo>
	<div class=poster>
		<img src=<%= @imdb_data["Poster"]%><br></br>
	</div>


	<div class=listInfo>
	<ul>
		<li><%= @imdb_data["Plot"]%></li><br></br>
		<li><%= @imdb_data["Released"]%></li>
		<li><%= @imdb_data["Runtime"]%></li>
		<li><%= @imdb_data["Gnere"]%></li>
		<li><%= @imdb_data["Director"]%></li>
		<li><%= @imdb_data["Actors"]%></li>
	</ul>
	</div>
</div>
<div class=home>
<a href="/">HOME</a>
</div>